 # Forbes Billionaries 2021 Data Analysis

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

# Data Pre-processing

In [2]:
# Import the Dtaset
df = pd.read_csv('/kaggle/input/forbes-billionaires-of-2021/Billionaire.csv')

In [3]:
# Top 5 records of the dataset
df.head()

In [4]:
# Shape of the dataset
df.shape

In [5]:
# More information about the dataset
df.info()

In [6]:
# Describe the dataset
df.describe()

In [7]:
# Values in the dataset
df.values

In [8]:
# Null values in dataset
df.isnull().sum()

Here we can see in "age" feature we have 79 NULL values.

In [9]:
# Get rid off to Null values in dataset
df = df.dropna()

In [10]:
# Check the result
df.isnull().sum()

Now our dataset having zero Null values.

# Data Analysis

In [11]:
# Top 5 records of the dataset
df.head()

## Country with Most number of Billionaries

In [12]:
# Explore Dataset
df['Country']

In [13]:
# Unique values in "Country"
df['Country'].unique()

### 1. India

In [14]:
#
count = 0
for i in df['Country']:
    if(i == "India"):
        count += 1
print("There are", count,"Indian Billionaries")

### 2. United States

In [15]:
#
count = 0
for i in df['Country']:
    if(i == "United States"):
        count += 1
print("There are", count,"Billionaries are from USA")

### 3. China

In [16]:
#
count = 0
for i in df['Country']:
    if(i == "China"):
        count += 1
print("There are", count,"Billionaries are from China")

## Countries with Number of Billionaries

In [17]:
#
df['Country']

In [18]:
#
for country in df['Country'].unique():        # Taking 1 country at a time
    cnt = 0
    for i in df['Country']:                   # Find number of Billionaries in that specific country
        if(i == country):
            cnt += 1
    print([country,cnt])

In [19]:
# Storing it in one list
data = []
for country in df['Country'].unique():        # Taking 1 country at a time
    cnt = 0
    for i in df['Country']:                   # Find number of Billionaries in that specific country
        if(i == country):
            cnt += 1
    data.append([country,cnt]) 
print(data)

In [20]:
# Creating a dataframe from the data

data = pd.DataFrame(data,columns = ['Country','Frequency'])

In [21]:
# Top 5 Elements
data.head()

In [22]:
# Sorting the data
data.sort_values(by = 'Frequency')

In [23]:
# Sorting the data in deascending order
data.sort_values(by = 'Frequency', ascending = False)

### Top 5 Countries in terms of Billionaries
#### Method 1

In [24]:
# Using sort() and head()
data.sort_values(by = 'Frequency', ascending = False).head()

In [25]:
# Bar plot
data.sort_values(by = 'Frequency', ascending = False).head().plot(kind = 'bar')

#### Method 2

In [26]:
# Using groupby()
df.groupby('Country')

In [27]:
#
df.groupby('Country').size()

In [28]:
# Sorted manner
df.groupby('Country').size().sort_values(ascending = False).head()

### Print all Billionaries of the India

#### Method 1

In [29]:
# Main Dataset
df

In [30]:
# Billionaires from the India
for i in df.values:
    if(i[2] == 'India'):
        print(i[0])

#### Method 2

In [31]:
#
df[df['Country'] == 'India']

In [32]:
# Bar plot
df[df['Country'] == 'India'].plot(kind='bar')

In [33]:
#Bar plot of top five billionaries
df[df['Country'] == 'India'].head().plot(kind='bar')

In [34]:
#
df['NetWorth'].describe()

Here you can see that the datatype of the "NetWorth" column is Object not a "Integer". So we have to change it.

In [35]:
#
type(df['NetWorth'])

In [36]:
# Store all values in new list after converting it into Integer
net_worth = []

for i in df['NetWorth']:
    net_worth.append(int(float(i[1:-2])))

In [37]:
#
df['NetWorth'] = net_worth
df.head()

### All the People with Net Worth more than 100 Billion

In [38]:
#
df['NetWorth'] > 100

In [39]:
#
df[df['NetWorth'] > 100]

There are 4 People who have Net Worth more than 100 Billion

In [40]:
# Bar plot
df[df['NetWorth'] > 100].plot(kind='bar')

### GroupBy Industries

In [41]:
# Explore Dataset
df

In [42]:
# Top 5 records of the dataset
df.head()

In [43]:
# Explore Industry dataset
df['Industry']

In [44]:
# Describe the column
df['Industry'].describe()

In [45]:
# Shape of the dataset
df['Industry'].shape

In [46]:
#
df.groupby('Industry').size()

In [47]:
#
df.groupby('Industry').size().plot(kind='bar')

In [48]:
# Top Industry where most billionaries are invested
df.groupby('Industry').size().sort_values(ascending = False)

Most of the Billionaies are Invested in Finance and Investments sector

In [49]:
# Top 5 Industry Sector
df.groupby('Industry').size().sort_values(ascending = False).head()

In [50]:
# Bar plot
df.groupby('Industry').size().sort_values(ascending = False).head().plot(kind='bar')

### How much money is invested in each Industry

In [51]:
# Top 5 records of the dataset
df.head()

In [52]:
# Billionaires Inverted in Technology sector
df[df['Industry'] == 'Technology']

In [53]:
# Bar plott
df[df['Industry'] == 'Technology'].plot(kind='bar')

In [54]:
# Top 5 Billionaires Inverted in Technology sector
df[df['Industry'] == 'Technology'].head()

In [55]:
# Bar plot
df[df['Industry'] == 'Technology'].head().plot(kind='bar')

In [56]:
# Total amount Invested in Technology Sector
df[df['Industry'] == 'Technology']['NetWorth'].sum()

In [57]:
# Billionaires Inverted in Finance & Investments  sector
df[df['Industry'] == 'Finance & Investments']

In [58]:
# Top 5 Billionaires Inverted in Finance & Investments  sector
df[df['Industry'] == 'Finance & Investments'].plot(kind='bar')

In [59]:
# Top 5 Billionaires Inverted in Finance & Investments  sector
df[df['Industry'] == 'Finance & Investments'].head()

In [60]:
# Bar plot
df[df['Industry'] == 'Finance & Investments'].head().plot(kind='bar')

In [61]:
# Total amount Invested in Finance & Investments  Sector
df[df['Industry'] == 'Finance & Investments']['NetWorth'].sum()

In [62]:
# Billionaires Inverted in Automotive  sector
df[df['Industry'] == 'Automotive']

In [63]:
# Bar plot
df[df['Industry'] == 'Automotive'].plot(kind='bar')

In [64]:
# Top 5 Billionaires Inverted in Automotive sector
df[df['Industry'] == 'Automotive'].head()

In [65]:
# Bar plot
df[df['Industry'] == 'Automotive'].head().plot(kind='bar')

In [66]:
# Total amount Invested in Automotive Sector
df[df['Industry'] == 'Automotive']['NetWorth'].sum()